<form
  (ngSubmit)="handleSubmit(form.value)"
  [formGroup]="form"
  class="create-account-form"
>
  <mat-form-field class="input-box">
    <mat-label>Full Name</mat-label>
    <input class="input" formControlName="fullName" matInput type="text"/>
    <mat-icon matSuffix>
      <app-chef-icon></app-chef-icon>
    </mat-icon>
    <mat-hint *ngIf="isInvalidFullName" class="hint"
    >Full Name must have between 2 and 255 characters
    </mat-hint
    >

    <br/>
  </mat-form-field>

  <mat-form-field class="input-box">
    <mat-label>Username</mat-label>
    <input class="input" formControlName="username" matInput type="text"/>
    <mat-icon matSuffix>account_circle</mat-icon>
    <mat-hint *ngIf="isInvalidUsername" class="hint"
    >Username must have between 2 and 255 characters
    </mat-hint
    >
  </mat-form-field>

  <mat-form-field class="input-box">
    <mat-label>Email</mat-label>
    <input class="input" formControlName="email" matInput type="email"/>
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint *ngIf="isInvalidEmail" class="hint"
    >Email provided is invalid
    </mat-hint
    >
  </mat-form-field>

  <mat-form-field class="input-box">
    <mat-label>Password</mat-label>
    <input class="input" formControlName="password" matInput type="password"/>
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint *ngIf="isInvalidPassword" class="hint"
    >You need to use a strong password with at least 8 characters, an
      uppercase letter, a lowercase letter, a number, and a special
      character
    </mat-hint
    >
  </mat-form-field>

  <mat-form-field [ngClass]="passwordStyles">
    <mat-label>Confirm Password</mat-label>
    <input
      (input)="handleConfirmPasswordInput($event)"
      class="input"
      formControlName="confirmPassword"
      matInput
      type="password"
    />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint *ngIf="isInvalidConfirmPassword" class="hint"
    >Password and Confirm Password are not the same
    </mat-hint
    >
  </mat-form-field>

  <button
    [disabled]="formIsInvalid"
    class="create-account-submit"
    color="primary"
    mat-stroked-button
    type="submit"
  >
    Create Account
  </button>

  <a class="login-link" routerLink="/login">Log in</a>
</form>
