@import "../../assets/styles/colors.scss";
@import "../../assets/styles/components.scss";

.create-account-form {
  @extend %form-center;
}

.input-box {
  @extend %input-box;

  &.-confirmpassword {
    margin-top: 4.5rem;
  }
}

.create-account-submit {
  align-self: center;
  text-transform: uppercase;
}
