<section class="change-password-wrapper">
  <div *ngIf="error$ | async as error">
    <app-alert-message *ngIf="error.length > 0" [message]="error" type="error"
                       (onCloseClick)="handleAlertClose()"></app-alert-message>
  </div>

  <div *ngIf="showSuccessMessage$ | async">
    <app-alert-message message="Password changed successfully" type="success"
                       (onCloseClick)="handleAlertClose()"></app-alert-message>
  </div>

  <app-change-password-form (onChangePassword)="handleChangePassword($event)"></app-change-password-form>
</section>
