<section class="change-password-wrapper">
  <div class="invisible-box">
    <div *ngIf="error$ | async as error">
      <app-alert-message [@fadeInOut]="error.length > 0" *ngIf="error.length > 0" [message]="error" type="error"
                         (onCloseClick)="handleAlertClose()"></app-alert-message>
    </div>

    <div *ngIf="showSuccessMessage$ | async as success">
      <app-alert-message [@fadeInOut]="success" message="Password changed successfully" type="success"
                         (onCloseClick)="handleAlertClose()"></app-alert-message>
    </div>
  </div>


  <app-change-password-form (onChangePassword)="handleChangePassword($event)"></app-change-password-form>
</section>
