@import "../../assets/styles/colors.scss";
@import "../../assets/styles/components.scss";

.change-password-form {
  @extend %form-center;
  @extend %form-border;
}

.input-box {
  @extend %input-box;
}

.change-password-submit {
  align-self: center;
  text-transform: uppercase;

  &.-error {
    margin-top: 3.2rem;
  }
}
