<form (ngSubmit)="handleSubmit(form.value)" [formGroup]="form" @fadeInOut
      class="change-password-form">
  <mat-form-field class="input-box">
    <mat-label>New Password</mat-label>
    <input class="input" formControlName="password" matInput type="password"/>
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint *ngIf="isInvalidPassword" class="hint"
    >You need to use a strong password with at least 8 characters, an
      uppercase letter, a lowercase letter, a number, and a special
      character
    </mat-hint
    >
  </mat-form-field>

  <button
    [disabled]="form.invalid"
    [ngClass]="buttonStyles"
    color="primary"
    mat-flat-button
    type="submit"
  >
    Change your password
  </button>
</form>
