@import "./fonts.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  min-height: 100vh;
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 50%;
  }
}

a, button {
  cursor: pointer;
}
