@import "../../assets/styles/components.scss";
@import "../../assets/styles/colors";

.login-form {
  @extend %form-center;
}

.input-box {
  @extend %input-box;
}

.login-submit {
  transition: all 0.3s;
  margin-top: -2rem;
  text-transform: uppercase;

  &.-has-errors {
    margin-top: 3rem;
  }
}

.create-account-link {
  @extend %link-box;
}
