@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts";

.errors-list {
  & > .error {
    color: $logo-color;
    font-weight: 600;
    text-transform: lowercase;
    text-align: center;
    @extend %general-font;
  }
}
